@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FFDD4A;
  --secondary-color: #79A9D1;
  --accent1-color: #FF6700;
  --accent2-color: #65655E;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Lobster', cursive;
  --paragraph-font: 'Open Sans',Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #FF6700; /* headlines on a white background */
  --headline-color-on-color: #65655E; /* headlines on a colored background */
  --paragraph-color-on-white: #65655E; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --text-background-color: #79A9D1;
  --nav-link-color: #ff6700d4;
  --nav-background-color: white;
  --nav-hover-link-color: #FF6700;
  --nav-hover-background-color: white;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
}

*{
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

img{
	width: 100%;
}

header nav{
	height: 9vh;
}
header nav ul{
	list-style-type: none;
	padding: 0;
}
header nav ul li a i{
	color: #79A9D1;
}

.header-img{
	
	background-image: url('../resources/imgs/patos1.jpg');
	background-size: cover;
	height: 80vh;
}


.header-text{
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 10%;
}


.msg-container{
	border: 5px solid var(--accent1-color);
	background-color: white;
	padding: 7%;
	padding: 15px;
    height: 346px;
    overflow: auto;
}

.msg-container p{
	text-align: center;
	color: #79A9D1;
    font-weight: 800;
}

.message-container{
	margin:  2% 10%;
}

.btn-container{
	margin: 2% 0;	
}

.btn-container div{
	margin: 2% 0;
}

.btn-container,button,a{
	text-align: center;
}

.btn-container  button{
	color: white;	
	background-color: var(--accent1-color);	
}

.btn-container  button:hover{
	color: var(--headline-color-on-color);
	border: 2px solid var(--accent1-color);
	background-color: transparent;
}

#buscar-button{
	color: var(--headline-color-on-color);
	border: 2px solid var(--accent1-color);
}


#buscar-button:hover{
	color: white;
	background-color: var(--accent1-color);	
}

#buscar-button,#buscar-button2{
	color:var(--accent1-color);		
	    padding: 3px 4%;
    margin: 0 1%;
}


#buscar-button2:hover{
	background-color: var(--accent1-color);	
	color: white;
}
.header2-img{
	
	background-size: cover;
	width: 100%;
}
.header2-img h2{
    text-align: center;
}

.search-container{
	margin-top: 3%;
}

.search-container input{
	display: inline;		
}

#list-container{
	border: 5px solid var(--accent1-color);
	background-color: white;
	padding: 7%;
	padding: 15px;
    height: 346px;
    overflow: auto;
}

#list-container ul{
	padding: 0;
}

#list-container ul li{
	list-style-type: none;
	margin: 1% 0;
}
 
 #list-container ul li a{
	text-decoration: none;
	color: var(--secondary-color);
}   

.rounded-line {
  border-top: 2px solid var(--accent2-color);
  border-radius: 5px;
  margin: 0;
}

.search-bar{
	margin-bottom: 3%;
}

footer{
	text-align: center;
    margin-top: 7%;
    background: #65655E;
    padding-top: 6%;
}


/*small size*/
@media (max-width: 424px ){
	.header-img{
		height: 213px;
		padding: 27% 10% 5% 10%;
	}
	.header-text{
	    margin-top: 10%;
	}
	p{
		font-size: 18px;
		padding: 0;
	}

	.header2-img{
		background-image: url('../resources/imgs/ermita2.jpg');
		height: 116px;
		padding: 7%;
	}
	.search-container{
		padding: 0;
	}
	.search-container input{
		width: 78%;
	}
}

/*big size*/
@media (min-width: 425px ){
	.header-img{
		padding: 15%;
		
	}
	p{
		font-size: 1.2em;
	}
	.header2-img{
		background-image: url('../resources/imgs/ermita1.jpg');
		height: 60vh;
		padding: 6%;
	}
	.search-bar{
		width: 49%;
    	margin: auto;
	}
	.search-container input{
		width: 88%;
	}
	.header2-img h2{
		font-size: 3em;
	}
}

